html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 16px;
}

ul {
  list-style-type: none;
}

button {
  background: none;
  border: none;
}

section#films {
  width: 100vw;
  min-height: 100vh;
  background-color: #000;
}

section#films .films-list {
  width: 100vw;
  padding: 0 1rem;
}

section#films .films-list .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#films .films-list .links li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

section#films .films-list .links a {
  color: #fff;
  font-family: "Yu Gothic";
  text-transform: uppercase;
  width: 90px;
  display: block;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  line-height: 1.2rem;
  margin: 3rem 0;
}

section#films .films-list .caroussel-container {
  white-space: nowrap;
  overflow: hidden;
}

section#films .films-list #films-caroussel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

section#films .films-list #films-caroussel li.caroussel-item {
  height: auto;
  width: calc(100vw - 2rem);
}

section#films .films-list #films-caroussel li.caroussel-item img {
  width: 100%;
}

section#films .caroussel-controllers {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section#films .caroussel-controllers button {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

section#films .caroussel-controllers button:hover {
  opacity: 1;
}

section#films .caroussel-controllers button.prev::before {
  content: "";
  display: block;
  background-color: #fff;
  height: 2px;
  width: 30px;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  margin-right: 10px;
}

section#films .caroussel-controllers button.next::after {
  content: "";
  display: block;
  background-color: #fff;
  height: 2px;
  width: 30px;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  margin-left: 10px;
}

section#films .caroussel-controllers button.prev:hover::before {
  width: 40px;
}

section#films .caroussel-controllers button.next:hover::after {
  width: 40px;
}
/*# sourceMappingURL=main.css.map */